In [1]:
import pandas as pd
from env import get_db_url
import wrangle_zillow

In [2]:
df = wrangle_zillow.wrangle_zillow()

Using cached data

/var/folders/tt/99v8dp0d60sfw82fs51dhr4m0000gn/T/ipykernel_58275/375152286.py:1: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  df = wrangle_zillow.wrangle_zillow()

In [3]:
df.shape

(77380, 68)

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   typeconstructiontypeid      222 non-null    float64
 1   storytypeid                 50 non-null     float64
 2   heatingorsystemtypeid       49439 non-null  float64
 3   buildingclasstypeid         15 non-null     float64
 4   architecturalstyletypeid    206 non-null    float64
 5   airconditioningtypeid       24953 non-null  float64
 6   propertylandusetypeid       77380 non-null  float64
 7   id                          77380 non-null  int64
 8   parcelid                    77380 non-null  int64
 9   basementsqft                50 non-null     float64
 10  bathroom                    77380 non-null  float64
 11  bedroom                     77380 non-null  float64
 12  condition                   49671 non-null  float64
 13  calculatedbathnbr           76771 non-null  float64
 14  decktypeid                  614 non-null    float64
 15  finishedfloor1squarefeet    6023 non-null   float64
 16  square_feet                 77184 non-null  float64
 17  finishedsquarefeet12        73748 non-null  float64
 18  finishedsquarefeet13        41 non-null     float64
 19  finishedsquarefeet15        3009 non-null   float64
 20  finishedsquarefeet50        6023 non-null   float64
 21  finishedsquarefeet6         386 non-null    float64
 22  fips                        77380 non-null  float64
 23  fireplacecnt                8276 non-null   float64
 24  fullbathcnt                 76771 non-null  float64
 25  garage                      25474 non-null  float64
 26  garagetotalsqft             25474 non-null  float64
 27  hashottuborspa              1538 non-null   float64
 28  latitude                    77380 non-null  float64
 29  longitude                   77380 non-null  float64
 30  lot_size                    69141 non-null  float64
 31  pools                       16137 non-null  float64
 32  poolsizesum                 867 non-null    float64
 33  pooltypeid10                464 non-null    float64
 34  pooltypeid2                 1074 non-null   float64
 35  pooltypeid7                 15042 non-null  float64
 36  propertycountylandusecode   77380 non-null  object
 37  propertyzoningdesc          50330 non-null  object
 38  rawcensustractandblock      77380 non-null  float64
 39  regionidcity                75909 non-null  float64
 40  regionidcounty              77380 non-null  float64
 41  regionidneighborhood        30890 non-null  float64
 42  zip                         77330 non-null  float64
 43  roomcnt                     77380 non-null  float64
 44  threequarterbathnbr         10096 non-null  float64
 45  unitcnt                     50562 non-null  float64
 46  yardbuildingsqft17          2388 non-null   float64
 47  yardbuildingsqft26          70 non-null     float64
 48  yearbuilt                   77117 non-null  float64
 49  numberofstories             17560 non-null  float64
 50  fireplaceflag               172 non-null    float64
 51  structuretaxvaluedollarcnt  77268 non-null  float64
 52  tax_value                   77379 non-null  float64
 53  assessmentyear              77380 non-null  float64
 54  landtaxvaluedollarcnt       77378 non-null  float64
 55  taxamount                   77375 non-null  float64
 56  taxdelinquencyflag          2886 non-null   object
 57  taxdelinquencyyear          2886 non-null   float64
 58  censustractandblock         77136 non-null  float64
 59  logerror                    77380 non-null  float64
 60  transactiondate             77380 non-null  object
 61  propertylandusedesc         77380 non-null  object
 62  airconditioningdesc         24953 non-null  object
 63  architecturalstyledesc      206 non-null    object
 64  buildingclassdesc           15 non-null     object
 65  heatingorsystemdesc         49439 non-null  object
 66  storydesc                   50 non-null     object
 67  typeconstructiondesc        222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB

,typeconstructiontypeid,storytypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,parcelid,basementsqft,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,tax_value,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,222.000000,50.0,49439.000000,15.000000,206.000000,24953.000000,77380.000000,7.738000e+04,7.738000e+04,50.000000,...,17560.000000,172.0,7.726800e+04,7.737900e+04,77380.0,7.737800e+04,77375.000000,2886.000000,7.713600e+04,77380.000000
mean,6.040541,7.0,3.920447,3.933333,7.388350,1.813289,261.826350,1.495126e+06,1.300715e+07,679.720000,...,1.434738,1.0,1.893160e+05,4.901375e+05,2016.0,3.010969e+05,5995.566592,14.087318,6.049674e+13,0.016628
std,0.557285,0.0,3.592789,0.258199,2.734542,2.967894,5.141231,8.609057e+05,3.481368e+06,689.703546,...,0.544569,0.0,2.300886e+05,6.534477e+05,0.0,4.925990e+05,7622.887460,2.185663,1.535252e+12,0.170190
min,4.000000,7.0,1.000000,3.000000,2.000000,1.000000,31.000000,3.490000e+02,1.071186e+07,38.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,6.000000,7.0,2.000000,4.000000,7.000000,1.000000,261.000000,7.520500e+05,1.153830e+07,273.000000,...,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.585000,14.000000,6.037311e+13,-0.024377
50%,6.000000,7.0,2.000000,4.000000,7.000000,1.000000,261.000000,1.497870e+06,1.253155e+07,515.000000,...,1.000000,1.0,1.364995e+05,3.589760e+05,2016.0,2.033835e+05,4450.720000,15.000000,6.037603e+13,0.006627
75%,6.000000,7.0,7.000000,4.000000,7.000000,1.000000,266.000000,2.240480e+06,1.421184e+07,796.500000,...,2.000000,1.0,2.187875e+05,5.690030e+05,2016.0,3.668022e+05,6927.800000,15.000000,6.059042e+13,0.039204
max,13.000000,7.0,24.000000,4.000000,21.000000,13.000000,275.000000,2.982274e+06,1.676893e+08,3560.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [5]:
col_nulls = wrangle_zillow.nulls_by_column(df)

In [6]:
col_nulls[col_nulls.pct_rows_missing>0.9]

                          n_rows_missing  pct_rows_missing
buildingclasstypeid                77365          0.999806
buildingclassdesc                  77365          0.999806
finishedsquarefeet13               77339          0.999470
storydesc                          77330          0.999354
basementsqft                       77330          0.999354
storytypeid                        77330          0.999354
yardbuildingsqft26                 77310          0.999095
fireplaceflag                      77208          0.997777
architecturalstyletypeid           77174          0.997338
architecturalstyledesc             77174          0.997338
typeconstructiontypeid             77158          0.997131
typeconstructiondesc               77158          0.997131
finishedsquarefeet6                76994          0.995012
pooltypeid10                       76916          0.994004
decktypeid                         76766          0.992065
poolsizesum                        76513          0.988796
pooltypeid2                        76306          0.986120
hashottuborspa                     75842          0.980124
yardbuildingsqft17                 74992          0.969139
taxdelinquencyflag                 74494          0.962704
taxdelinquencyyear                 74494          0.962704
finishedsquarefeet15               74371          0.961114
finishedsquarefeet50               71357          0.922163
finishedfloor1squarefeet           71357          0.922163

# Takeaways from nulls by column:
- For some (especially binary or few categories) may be able to assume null means 0:
    - check nunique and fillna with 0
- May want to see if any specific category is overrepresenting with nulls. Should fill these nas with a value (like 'unavailable') so the rest of the information is not dropped
    - Like one county didn't have any condition information
- After that may want to drop columns with >90% nulls

In [11]:
wrangle_zillow.nulls_by_row(df)

    num_cols_missing  pct_cols_missing  num_rows
0                 33          0.485294     14782
1                 34          0.500000     13326
2                 32          0.470588     12579
3                 31          0.455882      9891
4                 36          0.529412      5775
5                 29          0.426471      5270
6                 35          0.514706      5148
7                 37          0.544118      3620
8                 30          0.441176      3455
9                 38          0.558824      1925
10                28          0.411765       455
11                27          0.397059       316
12                39          0.573529       285
13                40          0.588235       230
14                44          0.647059        78
15                26          0.382353        65
16                45          0.661765        50
17                41          0.602941        29
18                43          0.632353        28
19                25          0.367647        24
20                42          0.617647        23
21                24          0.352941        13
22                46          0.676471         5
23                47          0.691176         3
24                48          0.705882         3
25                23          0.338235         2

# Takeaway from nulls by row
- Should fix issues from nulls by column first - this might lower the nulls by row values
- seems like removing any rows with >60% of missing columns would affect fairly minimal amount

In [22]:
for col in df.columns:
    if df[col].nunique() < 50:
        print(col)
        print(df[col].value_counts(dropna=False))

typeconstructiontypeid
NaN     77158
6.0       219
13.0        1
10.0        1
4.0         1
Name: typeconstructiontypeid, dtype: int64
storytypeid
NaN    77330
7.0       50
Name: storytypeid, dtype: int64
heatingorsystemtypeid
2.0     33550
NaN     27941
7.0     14064
24.0      846
6.0       776
20.0      104
13.0       59
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64
buildingclasstypeid
NaN    77365
4.0       14
3.0        1
Name: buildingclasstypeid, dtype: int64
architecturalstyletypeid
NaN     77174
7.0       172
8.0        19
21.0        7
2.0         5
3.0         3
Name: architecturalstyletypeid, dtype: int64
airconditioningtypeid
NaN     52427
1.0     23133
13.0     1574
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64
propertylandusetypeid
261.0    52319
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64
basementsqft
NaN       77330
900.0         2
700.0         2
100.0         2
640.0         2
515.0         2
273.0         2
912.0         2
588.0         1
819.0         1
1809.0        1
604.0         1
126.0         1
669.0         1
314.0         1
800.0         1
786.0         1
396.0         1
112.0         1
645.0         1
384.0         1
1969.0        1
252.0         1
600.0         1
1218.0        1
280.0         1
3112.0        1
1416.0        1
224.0         1
512.0         1
380.0         1
204.0         1
200.0         1
90.0          1
405.0         1
300.0         1
674.0         1
1252.0        1
254.0         1
3560.0        1
352.0         1
168.0         1
394.0         1
38.0          1
Name: basementsqft, dtype: int64
bathroom
2.0     31484
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroom, dtype: int64
bedroom
3.0     30361
2.0     19169
4.0     17513
5.0      4543
1.0      3379
6.0       998
0.0       830
8.0       252
7.0       208
9.0        70
10.0       31
12.0       14
11.0        8
13.0        2
14.0        1
16.0        1
Name: bedroom, dtype: int64
condition
NaN     27709
8.0     14645
6.0     13462
4.0      9482
7.0      5971
9.0      2299
5.0      2088
11.0      931
3.0       329
10.0      313
12.0      116
1.0        26
2.0         9
Name: condition, dtype: int64
calculatedbathnbr
2.0     31484
3.0     17313
1.0     12902
2.5      6595
4.0      3352
1.5      1408
3.5      1034
5.0      1026
4.5       695
NaN       609
6.0       417
5.5       223
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64
decktypeid
NaN     76766
66.0      614
Name: decktypeid, dtype: int64
finishedsquarefeet13
NaN       77339
1440.0       18
1344.0        5
1536.0        3
1488.0        3
1152.0        2
1392.0        2
1248.0        2
1056.0        1
1300.0        1
1560.0        1
1512.0        1
1060.0        1
1200.0        1
Name: finishedsquarefeet13, dtype: int64
fips
6037.0    50550
6059.0    20593
6111.0     6237
Name: fips, dtype: int64
fireplacecnt
NaN    69104
1.0     7008
2.0      995
3.0      235
4.0       35
5.0        3
Name: fireplacecnt, dtype: int64
fullbathcnt
2.0     38096
3.0     18351
1.0     14310
4.0      4048
5.0      1245
NaN       609
6.0       454
7.0       121
8.0       111
9.0        23
10.0        7
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64
garage
NaN     51906
2.0     18608
1.0      5676
3.0       632
4.0       255
0.0       230
5.0        45
6.0        14
7.0         4
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garage, dtype: int64
hashottuborspa
NaN    75842
1.0     1538
Name: hashottuborspa, dtype: int64
pools
NaN    61243
1.0    16137
Name: pools, dtype: int64
pooltypeid10
NaN    76916
1.0      464
Name: pooltypeid10, dtype: int64
pooltypeid2
NaN    76306
1.0     1074
Name: pooltypeid2, dtype: int64
pooltypeid7
NaN    62338
1.0    15042
Name: pooltypeid7, dtype: int64
regionidcounty
3101.0    50550
1286.0    20593
2061.0     6237
Name: regionidcounty, dtype: int64
roomcnt
0.0     59807
6.0      4513
7.0      3838
5.0      3016
8.0      2872
4.0      1415
9.0      1193
10.0      339
3.0       211
11.0      108
12.0       35
2.0        15
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64
threequarterbathnbr
NaN    67284
1.0    10012
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64
unitcnt
1.0      47292
NaN      26818
2.0       2018
4.0        723
3.0        525
45.0         1
42.0         1
6.0          1
237.0        1
Name: unitcnt, dtype: int64
numberofstories
NaN    59820
1.0    10366
2.0     6757
3.0      436
6.0        1
Name: numberofstories, dtype: int64
fireplaceflag
NaN    77208
1.0      172
Name: fireplaceflag, dtype: int64
assessmentyear
2016.0    77380
Name: assessmentyear, dtype: int64
taxdelinquencyflag
NaN    74494
Y       2886
Name: taxdelinquencyflag, dtype: int64
taxdelinquencyyear
NaN     74494
15.0     1552
14.0      799
13.0      183
12.0      113
11.0       98
10.0       66
9.0        47
8.0        14
7.0        10
3.0         1
6.0         1
99.0        1
4.0         1
Name: taxdelinquencyyear, dtype: int64
propertylandusedesc
Single Family Residential                     52319
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64
airconditioningdesc
NaN              52427
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64
architecturalstyledesc
NaN              77174
Contemporary       172
Conventional        19
Ranch/Rambler        7
Bungalow             5
Cape Cod             3
Name: architecturalstyledesc, dtype: int64
buildingclassdesc
NaN                                                                                                                                                                                                                                        77365
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Name: buildingclassdesc, dtype: int64
heatingorsystemdesc
Central       33550
NaN           27941
Floor/Wall    14064
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
storydesc
NaN         77330
Basement       50
Name: storydesc, dtype: int64
typeconstructiondesc
NaN         77158
Frame         219
Masonry         1
Metal           1
Concrete        1
Name: typeconstructiondesc, dtype: int64